<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script type='text/javascript' src="{% static 'js/jquery-ui.js'%}"></script>
        <link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css'%}"/>
<script type="text/javascript" src="{% static  'billingapp/js/billing.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'billingapp/css/billing.css' %}">
<script type="text/javascript" src="{% static  'salesapp/js/sales.js' %}"></script>
        <link rel='stylesheet' type='text/css' href="{% static 'salesapp/css/sales.css' %}">
</head>
<body style="background-color:  #ddf8fc;">
    <nav class="navbar navbar-expand-lg " style="background-color:  #599b9b; color: #FFF;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav navbar-nav">
    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Main
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'state' %}">States</a>
                            <a class="dropdown-item" href="{% url 'city' %}">Cities</a>
                            <a class="dropdown-item" href="{% url 'category' %}">Category</a>
                            <a class="dropdown-item" href="{% url 'uom' %}">UOM</a>
                            <a class="dropdown-item" href="{% url 'uom_conversion' %}">UOM Conversion</a>
                            <a class="dropdown-item" href="{% url 'financial_year' %}">Financial Year</a>
                            <a class="dropdown-item" href="{% url 'company' %}">Company</a>
                            <a class="dropdown-item" href="{% url 'branch' %}">Branch</a>
                            <a class="dropdown-item" href="{% url 'user' %}">User</a>
                            <a class="dropdown-item" href="{% url 'product' %}">Product</a>
                            <a class="dropdown-item" href="{% url 'party' %}">Party</a>
                            <a class="dropdown-item" href="{% url 'payment' %}">Payment Mode</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            List
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'statelist' %}">State List</a>
                            <a class="dropdown-item" href="{% url 'citylist' %}">City List</a>
                            <a class="dropdown-item" href="{% url 'categorylist' %}">Category List</a>
                            <a class="dropdown-item" href="{% url 'financial_yearlist' %}">Financial Year List</a>
                            <a class="dropdown-item" href="{% url 'uomlist' %}">UOM List</a>
                            <a class="dropdown-item" href="{% url 'uom_conversionlist' %}">UOM Conversion List</a>
                            <a class="dropdown-item" href="{% url 'companylist' %}">Company List</a>
                            <a class="dropdown-item" href="{% url 'branchlist' %}">Branch List</a>
                            <a class="dropdown-item" href="{% url 'userlist' %}">User List</a>
                            <a class="dropdown-item" href="{% url 'productlist' %}">Product List</a>
                            <a class="dropdown-item" href="{% url 'partylist' %}">Party List</a>
                            <a class="dropdown-item" href="{% url 'payment_modelist' %}">Payment Mode List</a>
                            <a class="dropdown-item" href="{% url 'purchase' %}">Purchase</a>
                            <a class="dropdown-item" href="{% url 'purchaselist' %}">Purchase List</a>
                            <a class="dropdown-item" href="{% url 'sales' %}">Sales</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'purchase_report' %}">Purchase Report</a>
                            <a class="dropdown-item" href="{% url 'purchase_registerreport' %}">Purchase Register Report</a>
                            <a class="dropdown-item" href="{% url 'purchase_summaryreport' %}">Purchase Summary Report</a>
                            <a class="dropdown-item" href="{% url 'purchasereturn_summaryreport' %}">Purchase Return Summary Report</a>
                            <a class="dropdown-item" href="{% url 'purchasereturn_registerreport' %}">Purchase Return Register Report</a>
                            <a class="dropdown-item" href="{% url 'sales_register_report' %}">Sales Register Report</a>
                            <a class="dropdown-item" href="{% url 'sales_summary_report' %}">Sales Summary Report</a>
                           
                            
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Returns
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'purchase_returns' %}">Purchase Returns</a>
                            <a class="dropdown-item" href="{% url 'sales_returns' %}">Sales Returns</a>  
                           
                        </div>
                    </li>
                </ul>
            </div>
    </nav>
    <center>

        <div class="container">
            {% block body_block%}
            {% endblock body_block%}
        </div>
    </center>
</body>
</html>