{% extends "billingapp/base.html" %}
{% block body_block %}
<form method="POST">
    {% csrf_token %}
    <center>
        <div class="container">
            <div class="row">
                {% for year in YearList %}
                <div class="col-sm-4">
                    <div class="card mb-3 text-center " style="display: inline-block;">
                        <div class="card-header">
                            <h3>{{year.finacial_year}}</h3>
                        </div>
                        <h6 class="card-title"></h6>
                        <div class="card-body">Financial Year:{{year.finacial_year}} </div>
                        <div class="card-footer">
                            <a class="btn btn-info" href="{% url 'financial_year_edit' yearid=year.year_id %}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </center>
</form>
{% endblock %}