{% extends "billingapp/base.html" %}
{% block body_block %}
<form method="POST">
    {% csrf_token %}
    <div class=" card table-responsive" >
        <label class="control_label">State Name</label>
        <input type="text" id="stateinfo" name="stateinfo"/>
        <label class="control_label">State Code</label>
        <input type="text" id="state_codeinfo" name="state_codeinfo"/>
        <label class="control_label">State Shortname</label>
        <input type="text" id="state_shortnameinfo" name="state_shortnameinfo"/>
        <input type="button" id="stateget" value="Search"/>
        <table class="table table-striped table-bordered table-sm" id="statelist">
            <thead>
                <tr>
                    <th>State Name</th>
                    <th>State Code</th>
                    <th>State Shortname</th>
                    <th>Edit</th>
                </tr>
            </thead>
<tbody>
    {% for state in StateList %}
    <tr>
        <td>{{state.state_name}}</td>
            <td>{{state.state_code}}</td>
            <td>{{state.state_shortname}}</td>
            <td>
                <a href="{% url 'state_edit' stateid=state.state_id %}">Edit</a>
            </td>
    </tr>
    {% endfor %}
</tbody>
        </table>
</div>
<div id="state_links"></div>
</form>
{% endblock %}